<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>HackNotifier</title>
</head>
<body>
            
    
            <nav>
                <div class="nav-wrapper">
                  <a href="#" class="brand-logo center">HackNotifier</a>
                  <!-- <img src="../static/images/index.png" alt="brand-logo" width="70px" height="65px"> -->
                  <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <!-- <li><a href="#">Sass</a></li>
                    <li><a href="#">Components</a></li>
                    <li><a href="#">JavaScript</a></li> -->
                  </ul>
                </div>
              </nav>
                    
    <div id="data">
        <center>
            <img src='../static/images/loader.gif'>
        </center>
    </div>
                            

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        require("../static/js/index.js");
    </script>
</body>
</html>